digraph G {

	graph [nodesep="1", ranksep="1"];
	node [fontname="{{ style["node_label_fontname"] }}",fontcolor="{{ style["node_label_fontcolor"] }}",fontsize="{{ style["node_label_fontsize"] }}"];
	edge [fontname="{{ style["edge_label_fontname"] }}",fontcolor="{{ style["edge_label_fontcolor"] }}",fontsize="{{ style["edge_label_fontsize"] }}"];

{% for edge in edges %}
    {% if edge[3] %}
	{{ edge[0] }} -> {{ edge[1] }} [style="{{ style["edge_normal_shape"] }}", label="  {{ edge[2] }}  "];
    {% else %}
    {{ edge[0] }} -> {{ edge[1] }} [style="{{ style["edge_abstract_shape"] }}", label="  {{ edge[2] }}  "];
    {% endif %}
{% endfor %}

{% for label in labels %}
{% if type_models[label[1]][0] == "LEAF_EXTENDS" %}
	{{ label[0] }} [label=<<b>{{ label[1] }}</b><br/><i>{{ type_models[label[1]][1] }}</i>>, shape="{{ style["leaf_shape"] }}", style=filled, color="{{ style["leaf_extends_color"] }}"];
{% endif %}
{% if type_models[label[1]][0] == "LEAF_ENUM" %}
	{{ label[0] }} [label=<<b>{{ label[1] }}</b><br/><i>{{ type_models[label[1]][1] }}</i>>, shape="{{ style["leaf_shape"] }}", style=filled, color="{{ style["leaf_enum_color"] }}"];
{% endif %}
{% if type_models[label[1]][0] == "LEAF_CUSTOM" %}
	{{ label[0] }} [label=<<b>{{ label[1] }}</b><br/><i>{{ type_models[label[1]][1] }}</i>>, shape="{{ style["leaf_shape"] }}", style=filled, color="{{ style["leaf_custom_color"] }}"];
{% endif %}
{% if type_models[label[1]][0] == "BRANCH" %}
	{{ label[0] }} [label=<<b>{{ label[1] }}</b>>, shape="{{ style["branch_shape"] }}", style=filled, color="{{ style["branch_color"] }}"];
{% endif %}
{% if type_models[label[1]][0] == "ABSTRACT" %}
	{{ label[0] }} [label=<<b>{{ label[1] }}</b><br/><i>{{ type_models[label[1]][1] }}</i>>, shape="{{ style["abstract_shape"] }}", style="filled", color="{{ style["abstract_color"] }}"];
{% endif %}
{% endfor %}
}
